.row {
  justify-content: space-evenly;
  .row__blocks {
    background-color: $primary;
    margin: 2em;
    border-radius: 15px;
  }
  .ratio {
    width: calc(25% - 4em);
    padding: 0;
    @media (max-width: 768px) {
      width: calc(100% - 2em);
    }
  }
  &__blocks--white-pink {
    background-color: white !important;
    border: 3px solid $active;
  }
  &__blocks--pink-white {
    background-color: $active !important;
    border: 3px solid white;
  }
}
